<article class="blog-post">
  <div class="container">
    <div class="post-header">
      <div class="post-meta">
        <span class="post-category">{{ category }}</span>
        <span class="post-date">{{ date }}</span>
      </div>
      <h1 class="post-title">{{ title }}</h1>
    </div>

    <div class="post-content">{{ blog_content | safe }}</div>


    <div class="post-navigation">
      <a href="../blog.html" class="back-link">
        {{ inject_svg('arrow-left', True) | safe }}
        <span>Back to Insights</span>
      </a>
    </div>
  </div>
</article>
